<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Creer Compte</title>
</head>
<div class="formulaire">
	<form class="form-horizontal" action="#!">
	<div class="form-group">
			<label class="control-label col-sm-2" for="Login">Login :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Login" ng-model="adherent.login">
			</div>
			</div>
	<div class="form-group">
			<label class="control-label col-sm-2" for="mdp">MdP :</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" placeholder="mdp" ng-model="adherent.mdp">
			</div>
			</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="nom">Nom :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Nom" ng-model="adherent.nom">
			</div>
			</div>
		<div class="form-group">	
			<label class="control-label col-sm-2" for="prenom">Prenom :</label> 
			<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="Prenom" ng-model="adherent.prenom">			
			</div>
		</div>	
			
		<div class="form-group">	
		<label class="control-label col-sm-2" for="tel">Téléphone :</label>
			<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="Telephone" ng-model="adherent.telephone">
			</div>
		</div>
			
		<div class="form-group">	
		<label class="control-label col-sm-2" for="ville">Ville :</label>
			<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="Ville" ng-model="adherent.ville"> 
			</div>
		</div>
			
		<div class="form-group">	
			<label class="control-label col-sm-2" for="codePostal">Code Postal :</label>
			<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="Code Postal" ng-model="adherent.codePostal">
			</div>
		</div>	
		
		<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      			<button class="btn btn-default" ng-click="creerCompte()">Créer</button>
   			 </div>
   		 </div>

	</form>
</div>
</html>

