<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div>
	<h2>{{msg}}</h2>
	<form>
		Nom : <input type="text" ng-model="$root.nom"> Prenom : <input
			type="text" ng-model="$root.prenom">
		<button ng-click="validerAuteur()">Valider</button>
	</form>

	<table class="table table-striped">
		<tr>
			<th>Bla</th>
			<th>Bla</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>Blou</td>
			<td>Blou</td>
			<td><a>Editer</a></td>
			<td><a>Supprimer</a></td>
		</tr>
	</table>
</div>
</html>