<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div class="formulaire">
	<h2>{{msg}}</h2>


	<div ng-switch="varOeuvre">
		<div ng-switch-default="oeuvre">
			<h3>Ajouter une oeuvre</h3>
			
			<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="titre">Titre :</label>
				<div class="col-sm-10">
				 <input type="text"class="form-control" name="titre" ng-model="$root.titre"> 
				</div>
				</div>
			<div class="form-group">	
				 <label class="control-label col-sm-2">Auteur :</label>
				 <select class="col-sm-4" id="select1" ng-model="$root.auteurAssocie">
				 	<option value="auteur1">Auteur 1</option>
					<option value="auteur2">Auteur 2</option>
				</select>
				
				</div>
			
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="validerOeuvre()">Valider</button>
			</div>	
			</div>
			</form>

			
			<h3>Liste des oeuvres</h3>
			<table class="table table-striped">
				<tr>
					<th>Bla</th>
					<th>Bla</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>Blou</td>
					<td>Blou</td>
					<td><a ng-click="ajouterLivre()">Ajouter/Modifier un livre</a></td>
					<td><a ng-click="editerOeuvre()">Editer</a></td>
					<td><a ng-click="supprimerOeuvre()">Supprimer</a></td>
				</tr>
			</table>
		</div>
		<div ng-switch-when="livre">
			<h3>Ajouter un livre</h3>
			Oeuvre: {{oeuvre}}, Auteur: {{prenomAuteur}} {{nomAuteur}}
			<form>
				<select ng-model="$root.etat"><option value="neuf">Neuf/Comme neuf</option>
					<option value="correct">Correct</option>
					<option value="abime">Abîmé</option>
					<option value="mauvais">Mauvais état</option>
				</select> Num. inventaire: <input type="text" ng-model="$root.numInventaire">
				<button ng-click="validerLivre()">Valider</button>
			</form>
			<h3>Liste des Livres</h3>
			<table class="table table-striped">
				<tr>
					<th>Bla</th>
					<th>Bla</th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>Blou</td>
					<td>Blou</td>
					<td><a ng-click="editerLivre()">Editer</a></td>
					<td><a ng-click="supprimerLivre()">Supprimer</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</html>