<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div>
	<h2>{{msg}}</h2>
	<h3>Mes réservations</h3>
	<table class="table table-striped">
		<tr>
			<th>Bla</th>
			<th>Bla</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>Blou</td>
			<td>Blou</td>
			<td><a ng-click="annulerReservation()">Annuler</a></td>
		</tr>
	</table>
	<h3>Mes emprunts</h3>
	<table class="table table-striped">
		<tr>
			<th>Bla</th>
			<th>Bla</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>Blou</td>
			<td>Blou</td>
			<td><a ng-click="rendreEmprunt()">Rendre</a></td>
		</tr>
	</table>
</div>
</html>