<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<div class="list-group navig">
		<a href="#"class="list-group-item">Rechercher</a>
		<a href="#!gestionAdherents" class="list-group-item">Gestion des adhérents</a>
		<a href="#!gestionLivres" class="list-group-item">Gestion des livres</a>
		<a href="#!gestionReservations" class="list-group-item">Gestion des reservations</a>
		<a href="#!gestionEmprunts" class="list-group-item">Gestion des emprunts</a>

</div>
</html>